* {
box-sizing: border-box;
padding: 0;
margin: 0;
}
.text-gradient {
  background: -webkit-linear-gradient(315deg, #8793ff 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}